<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
	<!-- console settings -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%p] [%t] %c - %m%n</pattern>
		</encoder>
	</appender>

	<!-- multi environment configuration -->
	<springProfile name="test,prod">
		<!-- define name and log path -->
		<property name="application.name" value="cloud-eureka-server" />
		<property name="log.path" value="/home/logs" />

		<!-- info level -->
		<appender name=" info_file " class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.path}/${application.name}/info.log</file>
			<append>true</append>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>${log.path}/${application.name}/%d{yyyy-MM-dd}/info/info-%i.log
				</fileNamePattern>
				<maxFileSize>50MB</maxFileSize>
				<maxHistory>7</maxHistory>
				<totalSizeCap>2GB</totalSizeCap>
			</rollingPolicy>
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss} [%p] [%t] %c - %m%n</pattern>
			</encoder>
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>INFO</level>
				<onMatch>ACCEPT</onMatch>
				<onMismatch>DENY</onMismatch>
			</filter>
		</appender>

		<!-- warn level -->
		<appender name="warn_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.path}/${application.name}/warn.log</file>
			<append>true</append>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>${log.path}/${application.name}/%d{yyyy-MM-dd}/warn/warn-%i.log
				</fileNamePattern>
				<maxFileSize>50MB</maxFileSize>
				<maxHistory>15</maxHistory>
				<totalSizeCap>2GB</totalSizeCap>
			</rollingPolicy>
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss} [%p] [%t] %c - %m%n</pattern>
			</encoder>
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>WARN</level>
				<onMatch>ACCEPT</onMatch>
				<onMismatch>DENY</onMismatch>
			</filter>
		</appender>

		<!-- error level -->
		<appender name="error_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.path}/${application.name}/error.log</file>
			<append>true</append>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>${log.path}/${application.name}/%d{yyyy-MM-dd}/error/error-%i.log
				</fileNamePattern>
				<maxFileSize>50MB</maxFileSize>
				<maxHistory>30</maxHistory>
				<totalSizeCap>2GB</totalSizeCap>
			</rollingPolicy>
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss} [%p] [%t] %c - %m%n</pattern>
			</encoder>
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>ERROR</level>
				<onMatch>ACCEPT</onMatch>
				<onMismatch>DENY</onMismatch>
			</filter>
		</appender>
	</springProfile>

	<!-- special configuration -->
	<logger name="org.xnio" level="info" />
	<logger name="com.netflix" level="info" />
	<logger name="org.springframework" level="warn" />

	<!-- default/dev/one/two/three out console -->
	<springProfile name="default,dev,one,two,three">
		<root level="info">
			<appender-ref ref="console" />
		</root>
	</springProfile>
	<!-- test out file -->
	<springProfile name="test">
		<root level="info">
			<appender-ref ref="info_file" />
			<appender-ref ref="warn_file" />
			<appender-ref ref="error_file" />
		</root>
	</springProfile>
	<!-- prod out file -->
	<springProfile name="prod">
		<root level="info">
			<appender-ref ref="info_file" />
			<appender-ref ref="warn_file" />
			<appender-ref ref="error_file" />
		</root>
	</springProfile>
</configuration>